body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Form Styles */
form {
	display: flex;
    flex-direction: column;
    align-items: center;

	margin: 20px auto;
	padding: 10px;

	height: 60%;
	width: 40%;

	background-color: white;

	border-radius: 20px;
}

.hidden {
	display: none;
}

.input-container {
    position: relative;
    width: 100%;
}

.button-container {
	display: flex;
	justify-content: center;
	width: 60%;
}

.form-button {
	border-radius: 0px;
	font-size: 120%;

	background-color: white;
	color: red;

	border-top: 4px solid #ffebee;
}

.form-button:hover {
	background-color: white;
}

.inactive-button {
	border: none;
	background-color: lightgray;
}


/* Style the icon and position it within the container */
.icon {
    position: absolute;
    top: 25%;
    transform: translateY(-25%);
    left: 10px;  /*Adjust the left spacing as needed */
}

i {
	color: black;
}

/* Style the input to have padding on the left to make room for the icon */
input {
    padding-left: 30px; /* Adjust the left padding to match the icon width */
    width: 60%;
}

input:focus {
	outline-color: red;
}

#forgotPassword {
	position: relative;
	left: 40%;
	color: gray;
	font-size: 12pt;
	margin-bottom: 5px;
	margin-top: 0;
}

input[type="submit"] {
	width: 30%;
	font-size: 10pt;

	margin-top: 30px;
}

footer {
	position: absolute;
	bottom: 0;

	width: 100%;
	height: 10%;

	background-color: red;
}

p {
	color: white;
	margin-left: 50%;

}



