/*
    Akli Amrous, Jason Doe, Cooper Harris, Christopher Le
    File: video.css
    Purpose: This stylesheet defines additional styling for the video and web cam capabilities of the website.
    Mainly positioning.
*/
#remote {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;

    width: 90%;
    height: 90%;
}

#local {
    padding-left: 25%;
    width: 50%;
    height: 50%;
    padding-right: 25%;
}
